.done {
  text-decoration: line-through;
}

.tasks__hidden {
  display: none;
}

.tasks__list {
  list-style: none;
  width: 95%;
  padding: 0;
}

.tasks__iteam {
  border-bottom: solid 2px rgb(220, 220, 220);
  padding: 5px;
  font-size: 17px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.tasks__content {
  text-align: left;
  flex-grow: 1;
  margin-left: 5px;
}

.tasks__button--done {
  background-color: rgb(27, 134, 34);
  color: white;
  font-size: 25px;
}

.tasks__button--remove {
  background-color: rgb(240, 47, 68);
}

.tasks__button--done:hover {
  background-color: rgb(34, 170, 43);
}

.tasks__button--remove:hover {
  background-color: rgb(165, 3, 22);
}

.tasks__button {
  border: none;
  padding: 10px;
  flex-shrink: 0;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms ease-in-out;
  cursor: pointer;
}

@media (max-width: 767px) {
  .buttonContener {
    flex-direction: column;
    gap: 15px;
  }
}
